/* my styles */
.body {
  margin: 0;
}
.wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
}

.col__highlight {
  color: red;
  text-decoration: dotted;
  text-decoration-line: none;
  font-size: 30px;
}
